@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300&display=swap');

nav {
    background-color: #0b5351;
    height: 100px;
}


header h1 {
    font-family: 'Cookie', cursive;
    font-size: 60px;
    margin: 0 auto;
    color: #f8f8f8;
    padding: 10px

}